@font-face {
font-family:"Myriad";
font-style:italic;
font-weight:600;
src:url("font/MyriadPro-It.otf");
}
@font-face {
font-family:"Myriad";
font-style:normal;
font-weight:600;
src:url("font/MyriadPro-Regular.otf");
}
@font-face {
font-family:"Myriad_Light";
font-style:normal;
font-weight:600;
src:url("font/MyriadPro-Light.otf");
}
@font-face {
font-family:"Myriad_Light";
font-style:italic;
font-weight:600;
src:url("font/MyriadPro-LightIt.otf");
}
