@import url("font_face.css");

/*
.inner_wrap  {
	border: 1px solid #ccc;
}
*/

.header {
	height: 100px;
	position: relative;
}
.header .logo {
	background: url(../img/logo.png) no-repeat center center;
	width: 350px;
	height: 100px;
}
.header .horline_top {
	width: 510px;
	height: 100px;
}
.header .horline_top .line {
	height: 2px;
	background: #646466;
	width: 400px;
	position: absolute;
	right: 0px;
	bottom: 20px;
}

.footer {
	margin-top: 20px;
	border-top: 1px solid #646466;
}

.content_body .sidebar  {
	width: 300px;
	margin-top: -20px;
	float: left;
	font-family: Myriad;
}
.content_body .sidebar .mod {
	position: absolute;
	bottom: 0px;
}
.content_body .sidebar .mod {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding-right: 10px;
	text-align: right;
}
.content_body .sidebar ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	
}
.content_body .sidebar ul li {
	margin-bottom: 10px;

}
.content_body .sidebar ul li a{
	text-decoration: none;
	font-size: 14px;
	color: #646466;
}
.content_body .sidebar ul li a:hover {
	color: #000;
}
.content_body .sidebar .inner {
	width: 110px;
	border-right: 2px solid #646466;
	min-height: 360px;
	position: relative;
	color: #5e5e5e;
}
