#home {
	
}
#home .news_block {
	
}
#home .news_block .item{

	display: table-cell;
	padding: 10px;
	text-align: justify;
}
#home .news_block .item h3 {
	font-size: 20px;
	margin-bottom: 5px;
}
#home .featured_prod .item {
	display: table-cell;
	padding: 0px 10px;

}
#home .featured_prod .item .prod_img img {
	width: 100%;
	
}
#product_view {

}
#product_view .view_product .product_media {
	margin-right: 30px;
	width: 600px;
	float: left;
}
#product_view .view_product .product_media .currentImg {

}
#product_view .view_product  .otherImg .item {
	margin-right:10px;
}
#product_view .view_product .product_tool{
	width: 330px;
	float: right;
}
#product_view .view_product .product_price {
	font-size:24px;
}
#product_view .view_product .product_cart {
	padding:10px;
	background: #ededed;
	text-shadow: 0 1px 0 #fff;
	width: 400px;
}
#product_view .view_product .product_detail {
	margin-top: 20px;
}
#product_view .component {
	background: none;
}
#product_view .view_product .decor {
	width: 960px;
	height: 300px;
	margin-top: -150px;
}
#product_view .view_product .decor img {
	width: 700px;
	height: 300px;
}
#product_view .view_product .decor .cover {
	margin-top: -300px;
	width: 700px;
	height: 300px;
	background: url(../img/decor_detail_bg.png) no-repeat center center;
}

#category_view .browseProduct, #product_browse .browseProduct{
	width: 730px;
	border-left: 1px dotted #ccc;
	margin-left: 10px;
	padding-left: 10px;
	min-height: 300px;
}
#product_browse .browseMenu, #category_view .browseMenu {
	width: 209px;
	

}
#product_browse .browseMenu .catmenu,  
#category_view .browseMenu .catmenu{
	
}
#product_browse .browseMenu .catMenu ul, 
#category_view .browseMenu .catMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#product_browse .browseMenu .catMenu ul li ,
#category_view .browseMenu .catMenu ul li {
	margin-left: 0px;
}
#product_browse .browseMenu .catMenu ul li:hover , 
#category_view .browseMenu .catMenu ul li:hover{
	background: #f5f5f5;
}
#product_browse .browseMenu .catMenu ul li:hover a, 
#category_view .browseMenu .catMenu ul li:hover a{
	color: #3a3a3a;
	text-shadow: 0 1px 0 #fff;
}
#product_browse .browseMenu .catMenu ul li span a , 
#category_view .browseMenu .catMenu ul li span a  {
	display: block;
	padding: 3px 10px;
	text-decoration: none;
}
#product_browse .browseProduct .productSnap, 
#category_view .browseProduct .productSnap{
	margin: 0px;
	padding: 0px;
	width: 240px;
	height: 295px;
	margin-left: 2px;
}
#product_browse .browseProduct  .productSnap .productImg img, #category_view .browseProduct  .productSnap .productImg img{
	width: 240px;
	height: 295px;
}
#extend_blog_blog_layout .main_layer {
	width: 710px;
	border-right: 1px dotted #ccc;
	margin-right: 10px;
	padding-right: 20px;
	
}
#extend_blog_blog_layout .sideBar  {
	width: 210px;

	
}
#extend_blog_blog_layout .sideBar .category_menu ul li {
	list-style: none;
	margin-left: 0px;
	padding:3px 10px;
}
#extend_blog_blog_layout .sideBar .category_menu ul li a{
	display: block;
	text-decoration: none;
	text-transform: capitalize
	}
#extend_blog_blog_layout .sideBar .category_menu ul li:hover {
	background: #f5f5f5;
}
#extend_blog_blog_layout .sideBar .category_menu ul li:hover a {
	color: #3a3a3a;
	text-shadow: 0 1px 0 #fff;
}
.post_list .post_item {
padding-bottom: 10px;
margin-bottom: 10px;
	
}
.post_list .post_item .post_title {
	font-size: 28px;
}
.post_list .post_item .post_title a{
	text-decoration: none;
}
