.picker_product{margin-bottom:10px}.picker_product
.item{float:left;width:310px;height:320px;position:relative;margin:0px
3px;overflow:hide}.picker_product .item
.item_detail{height:100px;background:red;width:290px;padding:10px}
